// Breakpoints ~~~
$bp-small: 360px;
$bp-med: 770px;
$bp-large: 992px;
$bp-xl: 1200px;
$bp-xxl: 1500px;
$bp-xxxl: 1700px;

main {
  letter-spacing: 0.016rem;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 46px;
}

ul {
  list-style: none;
}

@media screen and (min-width: $bp-small) {
  main {
    font-family: "Lato", sans-serif;

    font-size: 20px;
    line-height: 36px;
    line-break: 1.6em;

    .notebook-image {
      background: no-repeat
        url("../../img/main/images/HP_notebooksPen_mobile_300x341px.jpg");
      width: 400px;
      height: 400px;
    }

    .flexpath-title,
    .title-container {
      width: 90%;
      margin: 0 auto;
      padding: 2em 0;

      p {
        padding-bottom: 1em;
      }

      .red-button:hover {
        background-color: gainsboro;
        cursor: pointer;
      }
      .red-button {
        background-color: white;
        padding: 0.5em 0;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #b62025;
        width: 100%;

        .red-link {
          color: #b62025;
          text-decoration: none;
        }
      }
      .banana-desktop{
        display: none;
      }
    }
    .coffee-img {
      margin-left: 6em;
      height: 14rem;
      padding-top: 1.4em;
      
    }
  }

  .red-line {
    background-color: rgb(202, 1, 1);
    width: 65px;
    height: 5px;
    margin-left: 0.1em;
    margin-bottom: 1em;
  }

  .degrees {
    padding-top: 2em;
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;

    .degrees-stats {
      padding-top: 2.5em;

      h1 {
        display: inline-block;
        color: #b62025;
        font-weight: 400;
        line-height: 5px;
        font-size: 2em;
        padding-bottom: 0.3em;
      }
      .stats-perc{
        color: #b62025;
        font-weight: 400;
        line-height: 5px;
        font-size: 2em;
      }

      .italics {
        font-style: italic;
        font-weight: 100;
        font-size: 0.75em;
      }
      .top-stats {
        padding-bottom: 2.5em;

        p {
          font-size: 17px;
          font-weight: 700;
        }
      }

      .bottom-stats {
        padding-bottom: 2em;
      }

      p {
        line-height: 26px;
        font-size: 17px;
        font-weight: 700;
        margin: 0 !important;
        padding-bottom: 0.5em;
      }
    }
  }

  .floating-card {
    padding-top: 2em;

    h1 {
      color: #262626;
    }
  }
  .bus-pic-desktop {
    display: none;
  }

  .bus-pic {
    height: 23em;
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
  }

  .fadein-carousel-desktop {
    display: none;
  }
  // Mobile Logo Animation FadeIn
  .fadein-carousel {
    align-content: center;
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;

    .fadein {
      padding-top: 2em;
      height: 7.5em;
      display: flex;
      align-content: center;
      justify-content: center;
      animation: slideshow 14s linear infinite;

      img {
        padding: 0 5em 0 1em;
        margin: 0;
        height: 100%;
      }

      @keyframes slideshow {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
  }

  .accr-title {
    padding-top: 1.4em;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.4em;

    h5 {
      font-weight: bold;
      padding-bottom: 0.2em;
    }

    p {
      line-height: 2em;
      font-size: 0.9em;
    }
  }

  .accr-information {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.5em;

    h5 {
      font-size: 0.9em;
      a {
        color: #b62025;
      }
    }
    p {
      text-align: center;
      line-height: 2em;
      font-size: 13px;
      font-style: italic;

      a {
        color: #b62025;
        font-size: 12px;
      }
    }
  }
}

@media screen and (min-width: $bp-med) {
  main {
    .accr-logos {
      display: block;
    }
    .section-one {
      display: flex;
      flex-wrap: wrap;

      .notebook-container {
        width: 55%;

        .notebook-image {
          background: no-repeat
            url("../../img/main/images/HP_notebooksPen_desktop_618x972px.jpg");
          width: 90%;
          height: 100%;
          background-size: contain;
        }
      }

      .flexpath-title {
        padding-top: 14em;
        width: 45%;
        margin-left: auto;

        .title {
          width: 65%;

          h1 {
            text-align: left;
          }
          .red-line {
            display: none;
          }
          .red-button {
            padding: 0.7em 1em;
            line-height: 1.6em;
            a {
              font-size: 1.2em;
            }
          }
        }
      }

      .coffee-img {
        margin: 0 auto;
        width: 100%;
        
        .banana-mobile {
          margin-left: 70%;
        }
      }

      .degrees {
        display: flex;
        flex-direction: row;
        width: 80%;

        .degrees-title {
          padding-left: 2em;
          .title {
            width: 75%;

            h1{
              font-size: 1.9em;
            }
            p{
              line-height: 1.9em;
              word-spacing: .3em;
            }
          }
        }
      }
    }
    .section-two {
      position: relative;
      .svg-ampersand{
        display: none;
      }
      .floating-card {
        width: 720px;
        height: 520px;
        background-color: white;
        word-spacing: 0.2em;
        line-height: 1.9em;
        position: absolute;
        top: auto 30%;
        left: 0;
        right: 0;
        bottom: 25px;
        margin: auto;

        .card-inner {
          width: 80%;
          margin: 0 auto;
        }
        .red-button {
          width: 70%;
          font-size: 1.1em;
          font-weight: 600;
        }
      }
      .bus-pic-desktop {
        display: none;
      }
      .bus-pic {
        padding-top: 4em;
        height: 100%;
      }
    }
    .section-three {
      width: 90%;
      .accr-title {
        width: 60%;
        h5 {
          line-height: 1.7em;
        }
      }
      .accr-information {
        width: 65%;
      }
    }
  }
}

@media screen and (min-width: $bp-large) {
  main {
    .section-one {
      display: flex;
      flex-wrap: wrap;

      .notebook-container {
        padding-top: 10em;
        width: 60%;
        height: 1150px;

        .notebook-image {
          background: no-repeat
            url("../../img/main/images/HP_notebooksPen_desktop_618x972px.jpg");
          width: 100%;
          height: 100%;
          background-size: contain;
        }
      }

      .flexpath-title {
        width: 38%;
        padding-right: 4em;

        .title {
          width: 100%;
          margin: 0;
          padding: 0;

          h1 {
            width: 85%;
            font-family: "lato-bold", sans-serif;
            font-weight: 700;
          }
        }
      }
      .coffee-img {
        height: 0;
        position: relative;
        top: -300px;
        right: -50px;
        padding: 0;
        margin: 0;
        
      }

      
    }
    .section-two {
      // TODO: Add parallax scrolling to floating card, need to specify the card to be parallax only in $bp-large , also make sure to make the image come from top to bottom 
      padding-top: 5em;
      .floating-card {
        width: 720px;
        height: 520px;
        background-color: white;
        word-spacing: 0.2em;
        line-height: 1.9em;
        position: absolute;
        top: auto 30%;
        left: 0;
        right: 0;
        bottom: 25px;
        margin: auto;

        .card-inner {
          width: 80%;
          margin: 0 auto;
        }
        .red-button {
          width: 70%;
          font-size: 1.1em;
          font-weight: 600;
        }
      }


     
      .bus-pic-desktop {
        display: block;
        object-fit: contain;
        width: 100%;
      }
      .bus-pic {
        display: none;
      }
    }
    .section-three {
      .fadein-carousel {
        display: none;
      }
      .fadein-carousel-desktop {
        padding-top: 2em;
        display: block;
        width: 700px;
        margin: 0 auto;
        .fadein-desktop {
          display: flex;
          justify-content: space-around;
          img {
            height: 110px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $bp-xl){
  main{

    .section-one{

      .notebook-container{
        height: 1350px;
        width: 55%;

        
      }
      .flexpath-title{
        display: flex;
        flex-direction: column;
        width: 45%;
        padding-right: 0;
        .title{
          width: 85%;
          padding: 2em;
          .red-line{
            display: block;
          }
          h1{
            font-size: 2.2em;
            line-height: 1.2em;
          }
          p{
            width: 90%;
            line-height: 1.8em;
            font-size: 1.1em;

          }
          .red-button{
            padding: 0.7em;
            width: 72%;
          }
        }
        .banana-desktop{
          padding-top: 2em;
          display: block;
          align-self: flex-end;
          width: 50%;
        }
      }

      .coffee-img{
        .banana-mobile{
          display: none;
        }
        
      }
      .degrees{
        width: 75%;
        .degrees-title{
          width: 60%;
        }
        .degrees-stats{
          width: 30%;
          .top-stats{
            width: 90%;
          }
          .bottom-stats{
            width: 90%;
          }
        }
      }
    }
    .section-two{
       .floating-card {

        width: 600px;
        height: 580px;
        line-height: 1.8em;
        left: -27em;
        // bottom: 100px;
        .svg-ampersand{
          display: block;
          background: no-repeat url("../../img/main/images/ampersand.svg");
          height: 515px;
          width: 100%;
          position: absolute;
          left: -70px;
          top: -100px;
        }
        .card-inner {
          width: 75%;
          padding-left: 1em;
          padding-top: 3em;
          
          p {
            padding: 0;
            font-size: 1em;
            width: 90%;
          }
          h1 {
            font-weight: bold;
            font-size: 1.7em;
            
          }
          .red-button{
            font-size: 1em;
            width: 60%;
          }
        }
      }
    }




  }
}

@media screen and (min-width: $bp-xxl){
  main{
    .section-one{
      .flexpath-title{

        .title{
          width: 60%;
          padding: 2em;
        }


     
      }
      .degrees {
        padding-left: 25em;
        width: 100%;
        .degrees-title{
          
          .title{
            padding: 0 1em;
            width: 80%;
            h1{
              width: 85%;
            }
          }
        p{
          font-size: 1.1em;
          line-height: 5em;
        }

      }
      .degrees-stats{
        padding-left: 2em;
        width: 50%;
        font-size: 1.1em;
        .top-stats{
          width: 40%;
        }
        .bottom-stats{
          width: 50%;
        }
      }
      }
    }
    .section-two{
      .floating-card {

       width: 600px;
       height: 620px;
       line-height: 1.8em;
       left: -27em;
       bottom: 300px;
       
      }



  }}
}
@media screen and (min-width: $bp-xxxl){

  main{
    .section-two{
      .floating-card{
        width: 600px;
        height: 620px;
        bottom: 470px;
      }
    }
  }

}
// TODO: Make red-lines to change size while scrolling